<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title > Login Website </title> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
            body {
                background-image: url("img/background.jpg");
                background-repeat: no-repeat;
                background-size: auto;
                text-align: center;
                background-color: white;
            }
        </style>
        <script>
        $(document).ready(function() {
        /*global $*/
            
            $(document).on('keypress',function(e) {
                if(e.which == 13) {
                    $("#searchButton").click();
                }
            });
        });
        </script>   
    </head>
    
    <body>
        <nav id="navigation" class="navbar navbar-expand bg-transparent">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Thing 1</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Thing 2</a>
                  </li>
                </ul>
              </div>
        </nav>

        <div id="container">
        <main>
            <br>
            <div id="banner"><h1>Login Website </h1></div>
            <br>

            
