<%- include('partials/header.ejs') %>

    <h3 class="success">My Account</h3>
    
    <div>This page must be password-protected!</div>
                
<%- include('partials/footer.ejs') %>

<script>
$(document).ready(async function() {

});
</script> 