<%- include('partials/header.ejs') %>

                <% if (typeof accountSuccess != "undefined" && accountSuccess) { %>
                    <h3 class="success">You have sucessfully created your new account!</h3>
                <% } %>

                <form method="POST" id="loginForm" action="/">
                    
                    <span class="d-flex justify-content-center text-left">Username:&nbsp <input type="text" name="username" class="input-group-text"></span>
                    <br>
                    <span class="d-flex justify-content-center text-left">Password: &nbsp <input type="password" name="password" class="input-group-text"></span>
                    <br>
                    <button id="loginButton" class="btn btn-primary">Login!</button>
                </form>
                
                <br>
                
                <% if (typeof loginError != "undefined" && loginError) { %>
                    <h3 class="error">Wrong credentials!</h3>
                <% } %>
                <hr>
                No account? Sign up <a href="/signup">here!</a>
                <hr>
                
<%- include('partials/footer.ejs') %>

<script>
$(document).ready(async function() {

});
</script> 