<%- include('partials/header.ejs') %>

    <h3 class="success">You have sucessfully created your new account!</h3>
    
    <form action="/logout">
        <button class="btn btn-danger">
            Logout
        </button>
    </form>
                
<%- include('partials/footer.ejs') %>

<script>
$(document).ready(async function() {

});
</script> 